<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Home Page</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    width: 100%;
}
/* top-bar start */
.top-ber {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #573b8a;
    z-index: 1;
}

    .top-ber .menu {
        color: aliceblue;
        position: relative;
        top: 12px;
        left: 10px;
        display: none;
        cursor: pointer;
    }

    .top-ber .logo {
        position: relative;
        top: 10px;
        left: 20px;
    }

        .top-ber .logo p {
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 94, 94);
        }

.left-section {
    display: flex;
}

.right-section {
    display: flex;
}

    .right-section .notifications {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0px;
        right: 35px;
        color: rgb(227, 230, 233);
    }

        .right-section .notifications .message {
            display: flex;
            position: relative;
            right: 10px;
            padding: 3px;
            cursor: pointer;
            border-radius: 3px;
        }

            .right-section .notifications .message:hover {
                background-color: #716098;
            }

        .right-section .notifications .notification {
            display: flex;
            position: relative;
            right: 10px;
            padding: 3px;
            border-radius: 3px;
            cursor: pointer;
        }

            .right-section .notifications .notification:hover {
                background-color: #716098;
            }

        .right-section .notifications span {
            padding: 2px;
            margin: 2px;
        }

        .right-section .notifications p {
            height: 13px;
            width: 15px;
            font-size: 10px;
            font-weight: bold;
            background-color: rgb(255, 0, 0);
            color: aliceblue;
            border-radius: 3px;
            text-align: center;
        }

    .right-section .profile {
        display: flex;
        position: relative;
        top: 7px;
        right: 20px;
        padding: 0 5px 0 5px;
        cursor: pointer;
        border-radius: 3px;
    }

        .right-section .profile .profile-name {
            position: relative;
            right: 10px;
            text-align: center;
        }

            .right-section .profile .profile-name .name {
                color: white;
                font-size: 16px;
                font-weight: bold;
            }

            .right-section .profile .profile-name .admin {
                color: rgba(0, 255, 26, 0.955);
                font-size: 12px;
            }

    .right-section .profile-photo img {
        height: 55x;
        width: 50px;
        border-radius: 50%;
    }

    .right-section .profile-photo {
        display: inline;
        height: 50x;
        width: 50px;
        border-radius: 50%;
        position: relative;
        object-fit: cover;
    }

    .right-section .message-section {
        display: block;
        height: auto;
        width: auto;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: rgba(228, 234, 232, 0.76);
        border-radius: 10px;
        box-shadow: 2px 2px 10px 1px rgb(143, 143, 143);
    }

.message-section .sms {
    display: none;
    margin: 10px;
    height: auto;
    width: auto;
}

.message-section .notice {
    display: none;
    margin: 10px;
    height: auto;
    width: auto;
}

.message-section .text {
    margin: 5px;
    cursor: pointer;
}

    .message-section .text h5 {
        color: #2f2f2f;
    }

    .message-section .text p {
        color: #555353;
        font-size: 12px;
    }

.message-section .own-profile {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3px;
    width: 250px;
    height: 300px;
    background-color: rgb(241, 238, 243);
}

.own-profile .employe-profile img {
    border-radius: 50%;
}

.own-profile h4 {
    margin-top: 5px;
    color: #4f475c;
}

.own-profile h5 {
    font-size: 12px;
    color: #534d5c;
}

.own-profile p {
    margin-top: 5px;
    font-size: 12px;
}

.own-profile .employe-logout {
    display: flex;
    justify-content: center;
    align-self: center;
    
    cursor: pointer;
}
        .own-profile .employe-logout input {
            background-color: #493676;
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
            padding: 0px 15px 5px 15px;
            color: white;
            height: auto;
            width: auto;
            border-radius: 12px;
        }

        .own-profile .employe-logout input:hover {
            box-shadow: 2px 2px 10px 2px rgb(146, 144, 149);
        }

/* top-bar end */



.main-body {
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 235, 241);
    height: 87dvh;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 55px;
}
    /* side-bar start */
    .main-body .side-bar {
        position: relative;
        left: 3px;
        margin-right: 13px;
        padding: 15px;
        width: auto;
        padding: auto;
        height: 100%;
        background-color: rgb(255, 255, 255);
        transition: left 0.3s ease;
    }

.side-bar .close-btn {
    display: none;
    position: relative;
    right: -10px;
    text-align: right;
}

    .side-bar .close-btn span {
        padding: 3px;
        color: rgb(108, 108, 108);
        cursor: pointer;
    }

.side-bar .icon {
    display: flex;
    margin-top: 10px;
    color: #493676;
    font-size: 16px;
    background-color: #e2deeb;
    border-radius: 10px;
    box-shadow: 0px 3px 9px 1px #9475bc;
}

    .side-bar .icon p {
        display: inline-block;
        margin: 5px 10px 0px 10px;
        padding: 5px;
    }

    .side-bar .icon span {
        margin: 10px 0px 0px 10px;
        text-align: center;
    }

    .side-bar .icon:hover {
        background-color: #573b8a;
        color: rgb(239, 236, 242);
        transition: .1s ease;
        cursor: pointer;
    }

.

    

    

    


}




@*@media (max-width : 1200px) {

    .side-bar .icon span {
        margin: 0px;
        padding: 15px;
    }

    .side-bar .icon p {
        display: none;
    }

    .side-bar .logout {
        justify-content: center;
        align-items: center;
    }

        .side-bar .logout span {
            margin: 0px;
            padding: 15px;
        }

        .side-bar .logout p {
            display: none;
        }
}

@media (max-width : 550px) {
    .side-bar .close-btn {
        display: block;
    }

    .main-body .side-bar {
        display: none;
    }

    .side-bar .icon p {
        display: block;
    }

    .top-ber .menu {
        display: block;
    }

    .main-body .content {
        width: 100%;
    }

}*@
@{
    if (Session["User"] == null)
    {
        Response.Redirect(Url.Action("Login", "Auth"));
    }
}

    </style>
</head>
<body>
    
    <div class="container">
        <!--top-bar start-->
        <div class="top-ber">
            <div class="left-section">
                <div class="menu" id="menu">
                    <span class="material-symbols-outlined"> menu</span>
                </div>
                <div class="logo">
                    <p>myshop.in</p>
                </div>
            </div>
            <div class="right-section">
                <div class="notifications">
                    <div class="message" id="sms">
                        <span class="material-symbols-outlined">
                            sms
                        </span>
                        <p class="alart">7</p>
                    </div>
                    <div class="notification" id="Notification">
                        <span class="material-symbols-outlined">
                            notifications_active
                        </span>
                        <p class="alart">9</p>
                    </div>
                </div>
                <div class="profile">
                    <div class="profile-name">
                        <p class="name">Himel</p>
                        <p class="admin">admin</p>
                    </div>
                    <div class="profile-photo">
                        <img src="~\Content\profile.jpg" alt="">
                    </div>
                </div>
                <div class="message-section">
                    <div class="sms">
                        <div class="text">
                            <h5>New Message</h5>
                            <p>I don't get your product. My order-id ......</p>
                        </div>
                        <div class="text">
                            <h5>New Message</h5>
                            <p>I don't get your product. My order-id ......</p>
                        </div>
                        <div class="text">
                            <h5>New Message</h5>
                            <p>I don't get your product. My order-id ......</p>
                        </div>
                    </div>
                    <div class="notice">
                        <div class="text">
                            <h5>New Oder</h5>
                            <p>ID-3923823 is new Order.....</p>
                        </div>
                        <div class="text">
                            <h5>New Oder</h5>
                            <p>ID-3923823 is new Order.....</p>
                        </div>
                        <div class="text">
                            <h5>Oder confurmed</h5>
                            <p>ID-3923824 is confurmed.....</p>
                        </div>
                    </div>
                    <div class="own-profile">
                        <div class="employe-profile">
                            <img src="~\Content\profile.jpg" alt="" height="100px" width="100px">
                        </div>
                        <div class="employe-detail">
                            <h4>Himel</h4>
                            <h5>Sells Manager</h5>
                            <p>Duty time: 9 AM to 4PM</p>
                        </div>
                        <div class="employe-logout">
                            <form action="/Auth/Logout">
                                <input type="submit" value="Logout">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body">

            <div class="side-bar">
                <div class="close-btn" id="close-btn">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <p>Dashboard</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <p>Custumers</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        monitoring
                    </span>
                    <p>Analysis</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>
                    <p>Products</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        report
                    </span>
                    <p>Report</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    <p>Setting</p>
                </div>
                <div class="icon" id="">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <p>Add Product</p>
                </div>
            </div>

            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        var menu = document.querySelector("#menu")
        var cls = document.querySelector("#close-btn")
        var sideBar = document.querySelector(".side-bar")
        var profile = document.querySelector(".profile")
        var message = document.querySelector("#sms")
        var notice = document.querySelector("#Notification")
        var showProfile = document.querySelector(".own-profile")
        var showMessage = document.querySelector(".sms")
        var showNotice = document.querySelector(".notice")
        var container = document.querySelector(".top-bar")



        menu.addEventListener('click', (e) => {
            sideBar.style.display = "Block";
        });
        cls.addEventListener('click', (e) => {
            sideBar.style.display = "none";
        });

        message.addEventListener('click', (e) => {
            showMessage.style.display = "Block";
            showNotice.style.display = "none";
            showProfile.style.display = "none";
        });

        notice.addEventListener('click', (e) => {
            showNotice.style.display = "Block";
            showMessage.style.display = "none";
            showProfile.style.display = "none";
        });

        profile.addEventListener('click', (e) => {
            showProfile.style.display = "flex";
            showMessage.style.display = "none";
            showNotice.style.display = "none";
        });

        window.addEventListener("click", (e) => {
            if (!message.contains(e.target) && !showMessage.contains(e.target) &&
                !notice.contains(e.target) && !showNotice.contains(e.target) &&
                !profile.contains(e.target) && !showProfile.contains(e.target)) {
                showProfile.style.display = 'none';
                showMessage.style.display = 'none';
                showNotice.style.display = 'none';
            }
        });

    </script>


</body>
</html>
